<html>
    <body>
    <img src="./assets/images/unimate.jpg" alt="no img" height="300px" width="400px" />

    

    <p>
        <b><marquee>" UNIMATE "</marquee></b><br> Unimate was the first industrial robot, which worked on a General Motors assembly line at the Inland Fisher Guide Plant in Ewing Township, New Jersey, in 1961.
        
        It was invented by George Devol in the 1950s using his original patent filed in 1954 and granted in 1961.Devol, together with Joseph Engelberger, his business associate, started the world's first robot manufacturing company, Unimation.

        The machine undertook the job of transporting die castings from an assembly line and welding these parts on auto bodies, a dangerous task for workers, who might be poisoned by toxic fumes or lose a limb if they were not careful.
        
        The original Unimate consisted of a large computer-like box, joined to another box and was connected to an arm, with systematic tasks stored in a drum memory.</p>
        
    
    <img src="./assets/images/robo dog.jpg" alt="no img" height="300px" width="350px" />
    <p><b><marquee>" ROBO DOG "</marquee></b><br>Robotic dogs are robots designed to resemble dogs in appearance and behavior, usually incorporating canine characteristics such as barking or tail-wagging.He was programmed to be very obedient to those who tell him what to do, but when his antenna is damaged, he'll go running amok.It whips fast, obeys commands and doesn't leave unpleasant surprises on the floor.

        The high-tech hound uses sensors and Artificial Intelligence (AI) technology to 'hear' and 'see' its environment and can even be taken for walks.He has all the different skills of the PAW Patrol, but his skills are enhanced. He is shown to be a capable driver and pilot, operating vehicles such as the PAW Patroller and Air Patroller.
        
       </p>
    
       

    <img src="./assets/images/nao-transparent.png" alt="no img" height="300px" width="350px" />
    <p><b><br><marquee>" NAO "</marquee><br></b> Nao is an autonomous, programmable humanoid robot developed by Aldebaran Robotics, a French robotics company headquartered in Paris, which was acquired by SoftBank Group in 2015 and rebranded as SoftBank Robotics.The various versions of the Nao robotics platform feature either 2, 14, 21 or 25 degrees of freedom (DoF). A specialised model with 21 DoF and no actuated hands was created for the Robocup competition. All Nao Academics versions feature an inertial measurement unit with accelerometer, gyrometer and four ultrasonic sensors that provide Nao with stability and positioning within space. The legged versions included eight force-sensing resistors and two bumpers. The 2014 Nao Evolution, featured stronger metallic joints, The most recent version, dubbed NAO6, was introduced in June 2018.</p>

    <img src="./assets/images/pepper.jpg" alt="no img" height="300px" width="350px" />
    <p><br><b><marquee>" PEPPER "</marquee></b><br>Pepper is a robot designed for people. Built to connect with them, assist them, and share knowledge with them – while helping your business in the process. Friendly and engaging, Pepper creates unique experiences and forms real relationships.Pepper is currently being used as a receptionist at several offices in the UK and is able to identify visitors with the use of facial recognition, send alerts for meeting organisers and arrange for drinks to be made. Pepper is able to chat autonomously to prospective clients. The first functioning Pepper receptionist in the UK was supplied by a SoftBank distributor and was installed in London at Brainlabs.Pepper is being used in North American airports such as Pierre Elliott Trudeau International Airport in Montreal, Canada. The robot is used to greet travelers, offer menus and recommendations.</p>

    <img src="./assets/images/petman.jpg" alt="no img" height="300px" width="350px" />
    <p><b><marquee>" PETMAN "</marquee></b><br>Petman is a full-size humanoid that can walk, squat, and do push-ups. It was developed to test chemical-resistant military gear and is in no way intended to become a robotic super soldier of the future.Boston Dynamics is building PETMAN, short for Protection Ensemble Test Mannequin, for the U.S. Army, which plans to use the robot to test chemical suits and other protective gear used by troops. It has to be capable of moving just like a soldier—walking, running, bending, reaching, army crawling—to test the suit's durability in a full range of motion.

        Marc Raibert, the founder and president of Boston Dynamics, tells me that the biggest challenge was to engineer the robot, which uses a hydraulic actuation system, to have the approximate size of a person. "There was a great deal of mechanical design we had to do to get everything to fit," he says.</p>

    <img src="./assets/images/robear.jpg" alt="no img" height="300px" width="350px" />
    <p><b><marquee>" ROBEAR "</marquee></b><br>It also incorporates three types of sensors, including torque sensors and Smart Rubber capacitance-type tactile sensors made entirely of rubber, which allow for gentle movements, ensuring that the robot can perform power-intensive tasks such as lifting patients without endangering them.
    Deep in the bowels of a secluded facility outside the central Japanese city of Nagoya, a team of dedicated researchers has been working on a monster. It’s a primal, animalistic robot that uses advanced technology to power its intelligent vision, flexible movement, and giant arms strong enough to lift a human right off the ground. It could have profound implications for the relationship between man and machine.</p>
    <img src="./assets/images/Sophia.jpg" alt="no img" height="300px" width="350px" />
    <p><b><marquee>" SOPHIA "</marquee></b><br>Sophia is a social humanoid robot developed by Hong Kong-based company Hanson  Robotics. Sophia was activated on February 14, 2016, and made her first public appearance at South by Southwest Festival in mid-March 2016 in Austin, Texas, United States.Hanson designed Sophia to be a suitable companion for the elderly at nursing homes, or to help crowds at large events or parks. He has said that he hopes that the robot can ultimately interact with other humans sufficiently to gain social skills. Sophia is marketed as a "social robot" that can mimic social behavior and induce feelings of love in humans.Cameras within Sophia's eyes combined with computer algorithms allow her to see. She can follow faces, sustain eye contact, and recognize individuals. She is able to process speech and have conversations using a natural language subsystem.</p>

    <img src="./assets/images/new mitra.jpg" alt="no img" height="300px" width="350px" />
    <p><b><marquee>" MITRA "</marquee></b> <br>Mitra Robot is a Humanoid Robot designed and developed by the Indian startup Invento Robotics, a robotic company in Bangalore founded by Balaji Viswanathan.Mitra Robot made its first appearance in November 2017 at the Global Entrepreneurship Summit in 2017 where it greeted Ivanka Trump senior advisor to the U.S President and also interacted with Indian Prime Minister Narendra Modi.This robot could interact using facial and speech recognition contextual help and autonomous navigation
        This robot is designed to recognize speech in multiple languages
        Mitra 3 has three degrees of freedom (shoulder, elbow and finger movements) on each hand and one on the head, thus allowing Mitra 3 to welcome guests with a ‘namaste’ and also demonstrate other hand gestures like beckoning people.
        </p>

    <img src="./assets/images/davinci.jpg" alt="no img" height="300px" width="350px" />

    <p><b><marquee>" DA VINCI "</marquee></b><br> The da Vinci Surgical System is a robotic surgical system made by the American company Intuitive Surgical. Approved by the Food and Drug Administration in 2000, it is designed to facilitate surgery using a minimally invasive approach, and is controlled by a surgeon from a console.Johnson & Johnson already works with Intuitive Surgical on components for the da Vinci system, and says it will continue to do so, but the Google partnership will be for an entirely different hardware-and-software product. A spokesperson says the company hopes the new system will be more cost-effective for hospitals in developing nations, and that it'll have an interface that improves a surgeon's access to information during a procedure.Given Google's skill with software, it's also tempting to hope that the company might actually make robot-assisted surgeries safer. These are incredible machines.</p>

    <img src="./assets/images/Atlas.jpg" alt="no img" height="300px" width="350px" />

    <p><b><marquee>" ATLAS "</marquee></b><br>Atlas is a bipedal humanoid robot primarily developed by the American robotics company Boston Dynamics with funding and oversight from the U.S. Defense Advanced Research Projects Agency. The robot was initially designed for a variety of search and rescue tasks, and was unveiled to the public on July 11,In 2014, Atlas robots programmed by six different teams competed in the DARPA Robotics Challenge to test the robot's ability to perform various tasks, including getting in and out of a vehicle and driving it, opening a door, and using a power tool. A variety of other robots also competed. The contest was inspired by the 2011 Fukushima Daiichi nuclear disaster, and carries a USD 2 million prize for the winning team.</p>

    <img src="./assets/images/asimo.jpg" alt="no img" height="300px" width="350px" />

    <p><b><marquee>" ASIMO "</marquee></b><br>ASIMO is a humanoid robot created by Honda in 2000. It is currently displayed in the Miraikan museum in Tokyo, Japan.ASIMO has the ability to recognize moving objects, postures, gestures, its surrounding environment, sounds and faces, which enables it to interact with humans.ASIMO's ability to distinguish between voices and other sounds allows it to identify its companions. ASIMO is able to respond to its name and recognizes sounds associated with a falling object or collision. This allows the robot to face a person when spoken to or look towards a sound. ASIMO responds to questions by nodding or providing a verbal answer in different languages and can recognize approximately 10 different faces and address them by name.ASIMO's ability to distinguish between voices and other sounds allows it to identify its companions.

        

        </p>
</body>
</html>
