body {
    display: grid;
    padding: 2rem;
    grid-template-columns: 300px 1fr;
    gap: 2rem;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    font: 500 100%/1.5 system-ui;
    background-image: url("../../assets/images/last bg.jpg");
    font-size:large;
  }
  img {
    max-width: 100%;
    border-radius: 50%;
  }
  marquee{
    background-color: pink;
  }