<div class="row row-cols-1 row-cols-md-4 g-5">
    <div class="col">
      <div class="card text-black">
          <div class="head">
              <h2 class="card-head"></h2>
          </div>
        <img
          src="./assets/images/my robo 2.jpg" height="200px" width="300px"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-info">Trash Collector</h5>
          <p class="card-text">This robot is used to collect the trash and put it in the dustbin.
          </p>
          <a href="#" class="btn btn-success">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card  text-black">
          <div class="head">
<h2 class="card-head"></h2>
          </div>
        <img
          src="./assets/images/my robo 3.jpg" height="200px"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-info">Soccer Bot</h5>
          <p class="card-text">Robot which plays Soccer using its arms
          </p>
          <a href="#" class="btn btn-success">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-black">
          <div class="head">
              <h2 class="card-head"></h2>
          </div>
        <img
          src="./assets/images/my robo 4.jpg" height="200px"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-info">Dancing Bot</h5>
          <p class="card-text">
            This robot is used for entertainment purpose. Dances using its arms.
          </p>
          <a href="#" class="btn btn-success">Learn more</a>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card text-black">
            <div class="head">
                <h2 class="card-head"></h2>
            </div>
          <img
            src="./assets/images/my robo 6.jpg" height="200px"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title text-info">Sonar car</h5>
            <p class="card-text">
              This is a robot car which drives with the sensors.
            </p>
            <a href="#" class="btn btn-success">Learn more</a>
          </div>
        </div>
      </div>
      <br><br>
      <div class="col">
        <div class="card text-black">
            <div class="head">
                <h2 class="card-head"></h2>
            </div>
          <img
            src="./assets/images/dodging bot.jpg" height="200px"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title text-info">Dodging Bot</h5>
            <p class="card-text">
              This robot avoids obstacles and does not fall from table.
            </p>
            <a href="#" class="btn btn-success">Leran more</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-black">
            <div class="head">
                <h2 class="card-head"></h2>
            </div>
          <img
            src="./assets/images/line tracer.jpg" height="200px"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title text-info">Line Tracer</h5>
            <p class="card-text">
              This robot moves in the line, whatever path is given to it.
            </p>
            <a href="#" class="btn btn-success">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-black">
            <div class="head">
                <h2 class="card-head"></h2>
            </div>
          <img
            src="./assets/images/humanoid bot.jpg" height="200px"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title text-info">Humanoid Robot</h5>
            <p class="card-text">
              This is a humanoid robot which senses the environment.
            </p>
            <a href="#" class="btn btn-success">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-black">
            <div class="head">
                <h2 class="card-head"></h2>
            </div>
          <img
            src="./assets/images/my robo 5.jpg" height="200px"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title text-info">Steering car</h5>
            <p class="card-text">
              This is a robot car that drives accordingly to the directions.
            </p>
            <a href="#" class="btn btn-success">Leran more</a>
          </div>
        </div>
      </div>
  </div>
