<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  background-color: black;
  font-family: cursive;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
</style>
</head>
<body>

<h1 class="glow">ROBOTS IN THE WORLD</h1>
     
</body>


<div class="container-fluid">
    <div class="jumbotron">
      <div class="row text-center">
        <div class="row">
      <div class="col-xs-2">
        <figure>
          <img src="./assets/images/perseverance-thumb.jpg" float="left" alt="" height="200px" width="200px">
          <figcaption>Perserverance</figcaption>
        </figure>
      </div>
      <div class="col-xs-2">
        <figure>
          <img src="./assets/images/kamigami-thumb.jpg" alt="" height="200px" width="200px">
          <figcaption>Kamigami</figcaption>
        </figure>
      </div>
      <div class="col-xs-2">
        <figure>
          <img src="./assets/images/packbot-thumb.jpg" alt="" height="200px" width="200px">
          <figcaption>Packbot</figcaption>
        </figure>
      </div>
      <div class="col-xs-2">
        <figure>
          <img src="./assets/images/erica-thumb.jpg" alt="" height="200px" width="200px">
          <figcaption>Erica</figcaption>
        </figure>
      </div>
      <div class="col-xs-2">
        <figure>
          <img src="./assets/images/aibo-thumb.jpg" alt="" height="200px" width="200px">
          <figcaption>Aibo</figcaption>
        </figure>
      </div>
      <div class="col-xs-2">
        <figure>
          <img src="./assets/images/googlecar-thumb.jpg" alt="" height="200px" width="200px">
          <figcaption>Self driving car</figcaption>
        </figure>
      </div>
      <div class="col-xs-2">
          <figure>
              <img src="./assets/images/jaco-thumb.jpg" alt="" height="200px" width="200px">
              <figcaption>Jaco</figcaption>
          </figure>
      </div>
      <div class="col-xs-2">
        <figure>
            <img src="./assets/images/baxter-thumb.jpg" alt="" height="200px" width="200px">
            <figcaption>Baxter</figcaption>
        </figure>
    </div>
    <div class="col-xs-2">
      <figure>
          <img src="./assets/images/rhex-thumb.jpg" alt="" height="200px" width="200px">
          <figcaption>RHex</figcaption>
      </figure>
  </div>
  <div class="col-xs-2">
    <figure>
        <img src="./assets/images/paro-thumb.jpg" alt="" height="200px" width="200px">
        <figcaption>Paro</figcaption>
    </figure>
</div>
<div class="col-xs-2">
  <figure>
      <img src="./assets/images/unicornbot-thumb.jpg" alt="" height="200px" width="200px">
      <figcaption>Unicorn</figcaption>
  </figure>
</div>
<div class="col-xs-2">
  <figure>
      <img src="./assets/images/titan-thumb.jpg" alt="" height="200px" width="200px">
      <figcaption>Titan</figcaption>
  </figure>
</div>
<div class="col-xs-2">
  <figure>
      <img src="./assets/images/robobee-thumb.jpg" alt="" height="200px" width="200px">
      <figcaption>RoboBee</figcaption>
  </figure>
</div>
<div class="col-xs-2">
  <figure>
      <img src="./assets/images/minicheetah-thumb.jpg" alt="" height="200px" width="200px">
      <figcaption>Mini Cheetah</figcaption>
  </figure>
</div>
<div class="col-xs-2">
  <figure>
      <img src="./assets/images/laikago-thumb.jpg" alt="" height="200px" width="200px">
      <figcaption>Laikago</figcaption>
  </figure>
</div>
<div class="col-xs-2">
  <figure>
      <img src="./assets/images/kobra-thumb.jpg" alt="" height="200px" width="200px">
      <figcaption>Kobra</figcaption>
  </figure>
</div>
<div class="col-xs-2">
  <figure>
      <img src="./assets/images/bruno.jpg" alt="" height="200px" width="200px">
      <figcaption>Bruno</figcaption>
  </figure>
</div>
<div class="col-xs-2">
  <figure>
      <img src="./assets/images/cog-thumb.jpg" alt="" height="200px" width="200px">
      <figcaption>Cog</figcaption>
  </figure>
</div>
<div class="col-xs-2">
  <figure>
      <img src="./assets/images/daisy-thumb.jpg" alt="" height="200px" width="200px">
      <figcaption>Daisy</figcaption>
  </figure>
</div>
<div class="col-xs-2">
  <figure>
      <img src="./assets/images/digit-thumb.jpg" alt="" height="200px" width="200px">
      <figcaption>Digit</figcaption>
  </figure>
</div>
<div class="col-xs-2">
  <figure>
      <img src="./assets/images/armar-thumb.jpg" alt="" height="200px" width="200px">
      <figcaption>Armar</figcaption>
  </figure>
</div>
<div class="col-xs-2">
  <figure>
      <img src="./assets/images/frog-thumb.jpg" alt="" height="200px" width="200px">
      <figcaption>Frog</figcaption>
  </figure>
</div>
<div class="col-xs-2">
  <figure>
      <img src="./assets/images/kojiro-thumb.jpg" alt="" height="200px" width="200px">
      <figcaption>kojiro</figcaption>
  </figure>
</div>
<div class="col-xs-2">
  <figure>
      <img src="./assets/images/legoboost-thumb.jpg" alt="" height="200px" width="200px">
      <figcaption>Lego Boost</figcaption>
  </figure>
</div>
<div class="col-xs-2">
  <figure>
      <img src="./assets/images/misty-thumb.jpg" alt="" height="200px" width="200px">
      <figcaption>Misty</figcaption>
  </figure>
</div>
<div class="col-xs-2">
  <figure>
      <img src="./assets/images/rosie-thumb.jpg" alt="" height="200px" width="200px">
      <figcaption>Rosie</figcaption>
  </figure>
</div>
<div class="col-xs-2">
  <figure>
      <img src="./assets/images/shadow-thumb.jpg" alt="" height="200px" width="200px">
      <figcaption>Shadow Hand</figcaption>
  </figure>
</div>
<div class="col-xs-2">
  <figure>
      <img src="./assets/images/turtlebot-thumb.jpg" alt="" height="200px" width="200px">
      <figcaption>Turtle Bot</figcaption>
  </figure>
</div>
<div class="col-xs-2">
  <figure>
      <img src="./assets/images/versatrax.jpg" alt="" height="200px" width="200px">
      <figcaption>Versatrax</figcaption>
  </figure>
</div>
<div class="col-xs-2">
  <figure>
      <img src="./assets/images/wakamaru-thumb.jpg" alt="" height="200px" width="200px">
      <figcaption>Wakamaru</figcaption>
  </figure>
</div>
  </div>
  </div>
  </div>
  </div>
