<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>
  <body>
  <div id="first">
    <div id="a"><img src="https://img.icons8.com/color/48/000000/bot.png"/> ROBOTICS <img src="https://img.icons8.com/color/48/000000/bot.png"/></div>
    <div id="b"><marquee><b>JOIN ROBOLUTION !! THE FUTURE IS HERE !!</b></marquee></div>
    </div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <img src="./assets/images/transparent logo.png" alt="Logo" class="rounded-circle" style="width:40px;">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home"><i class="fas fa-home"></i><b>HOME</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/robots"><i class="fas fa-robot"></i><b>ROBOTS</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/play"><i class="fas fa-gamepad"></i><b>PLAY</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/learn"><i class="fab fa-leanpub"></i><b>LEARN</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/myrobots"><i class="fas fa-robot"></i><b>MY ROBOTS</b></a>
    </li>
<!--  -->
    <!-- Dropdown -->
    
  <!-- -->
  <div class="right">
    <li class="nav-item">
      <a class="nav-link" routerLink="/signup"><b>Signup</b></a>
    </li>
    <img src="./assets/images/transparent logo.png" alt="Logo" class="rounded-circle" style="width:40px;">
       <li class="nav-item">
      <a class="nav-link" routerLink="/signin"><b>Signin</b></a>
    </li>
  </div>
  </ul>
</nav>
<router-outlet></router-outlet>
</body>
<app-footer></app-footer>
</html>