<html>
<body>
    <div class="carousel slide" data-ride="carousel" id="demo">
        <!--indications-->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
            </ul>
            <!--inner-->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/images/carousel.jpg" alt=" " width="100%" height="500px">
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="./assets/images/carousel 2.webp" alt=" " height="500px" width="100%">
                    <div class="carousel-caption">
                </div>
            </div>
            <div class="carousel-item">
                <img src="./assets/images/carousel 777.jpg" alt=" " height="500px" width="100%">
                <div class="carousel-caption">
            </div>
            </div>
            <div class="carousel-item">
                <img src="./assets/images/carousel 40.png" alt=" " height="500px" width="100%">
                <div class="carousel-caption">
            </div>
            </div>
            <div class="carousel-item">
                <img src="./assets/images/carousel 20.jpg" alt=" " height="500px" width="100%">
                <div class="carousel-caption">
            </div>
        </div>
    </div>
    <!--prev and next-->
    <a href="#demo" class="carousel-control-prev" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a href="#demo" class="carousel-control-next" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
    </div>
    
    </body>
</html>

